# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.waddle.iml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Local\waddle\.idea\.idea.waddle\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
